* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
  background-color: #006884; 
  margin: auto;
  font-family: Georgia, serif;
}

.navbar a {
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
}

.navbar a:hover {
  background-color: #97bcc7;
  color: #006884;
}
.navbar {
  display: flex;
  float: right;
  background-color:#24393a;
  overflow: visible;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  padding: 0 30px;
  height: 70px;
  align-items: center;
}

.dropdown{
    float: left;
    overflow: visible;
    position: relative;
    z-index: 4; 
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #24393a;
   width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5; 
}
.dropdown-content a{
    float: none;
    color: #FFFFFF;
    padding: 12px 16px;
    display: block;
    text-align: left;
}
.dropdown:hover .dropbtn {
	 background-color: #97bcc7;
	 color: #006884;
}
.dropdown-content a:hover{
	 background-color: #97bcc7;
	 color: #006884;
}
.dropdown .dropbtn:hover {
	 background-color: #97bcc7;
	 color: #006884;
}
.dropdown:hover .dropdown-content {
  display: block; 
}

.header {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #322C2B;
}

h1 {
  text-align: center;
  font-family: georgia;
  margin-top: 0;
  padding-top: 19px;
}

.header h1 {
  padding-top: 8%;
  font-size: 60px;
}

.header > * {
  text-align: center;
  margin: 0 auto;
  padding-top: 19px;
  color: #97bcc7;
}

hr {
	border: 3px solid #24393a;
}

.container {
  border: 8px solid #a0a8b2;
  background-color: #97bcc7;
  margin: 0 1rem 2rem 0; 
  font-size: 20px;
  text-align: left;
  padding: 2rem;
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); 
  max-width: 600px; 
  width: 60%;
}

h2{
	text-align: center;
}

.wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 2rem auto;
	max-width: 1500px;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column; 
    flex-grow: 1;
    margin-left: 1rem; 
}

.response-box {
	background-color: #97bcc7;
	border: 2px solid #a0a8b2;
	border-radius: 10px;
	padding: 1rem;
	margin-left: 1rem;
	flex-grow: 1;
	height: fit-content;
	margin-bottom: 1rem;
}

.details {
	background-color: #97bcc7;
	border: 2px solid #a0a8b2;
	border-radius: 10px;
	padding: 1rem;
	margin-left: 1rem;
	height: fit-content;
	font-size: 20px;
	text-align: center;
}

input, textarea {
	min-height: 2em;
	border: 1px solid #172738;
	font-size: 18px;
	margin: 0.5rem 0;
	width: calc(100% - 2em);
	background-color: #a0a8b2;
	color: black;
}
input[type="submit"] {
	background-color: #172738;
	color: #FFFFFF;
	border: none;
	padding: 0.5rem 1rem;
	cursor: pointer;
}
input[type="submit"]:hover {
	background-color: #a0a8b2;
	color: #006884;
}
footer {
  padding: 15px;
  width: 100%;
  background-color: #006884;
  position: relative; 
  z-index: 2; 
  color: #FFFFFF;
}
.title, p{
	font-size: 20px;
}

footer p{
	margin-left:15px;
}

.icon-container {
  display: flex; 
  justify-content: center;
  align-items: center;
  background: transparent;
}

a.fa {
  color: #24393a;
  font-size: 40px !important;
  margin: 0 10px;
  text-decoration: none;
}

a.fa:hover {
  color: #006884; 
}
